## Final Project Submission

Please fill out:
* Student name: Kevin Riungu
* Student pace: part time / full time
* Scheduled project review date/time: 
* Instructor name: Mark Tiba
* Blog post URL:

# MOVIE INDUSTRY ANALYSIS


## AUTHOR: KEVIN RIUNGU




### INTRODUCTION
The task at hand is to assist Microsoft to make inroads into the Movie industry. The major goal was to explore What type of films are currently doing the best in the market and to provide these findings to Microsoft's new movie studio executives. My analysis approach targeted utilization of descriptive statistics and visualizations from provided data sets.



### BUSINESS UNDERSTANDING:
Microsoft wants to venture into the profitable movie making industry but they seek credible market research in order to have clear insights before they jump into the market.
To assist them in this endavour i have been looking at data provided by various sources in order to unearth movies that perform well in the market currently. By analyzing the movies that have been most successful recently i can make tangible recommendations about which movies the company should target in order to realize optimum revenues.
After carefully considering the business problem and combing through the data provided, I have come up with the following questions that will guide the course of my analysis: 

#### 1   What type of movies are currently most successful.
 
#### 2   Is there better time of year to release a movie
 
#### 3   The budget: How much the company should sink in in terms of dollars ($) in order to achieve optimum revenues

### DATA UNDERSTANDING
Data used in this project was cited from various sources; namely:-
##### Box office Mojo
Box Office Mojo is a popular website that tracks box office revenue for movies.
##### IMDB
IMDb, or the Internet Movie Database, is an online database of information related to films, television programs, home videos, video games, and streaming content. 
##### Rotten Tomatoes
Rotten Tomatoes is a website that aggregates reviews and provides a numerical score based on the percentage of critics who have given a favorable review for movies, TV shows, and sometimes other forms of media
##### The Movie DB
The Movie Database (TMDb) is an online database that provides information about movies, TV shows, and celebrities. 
##### The Numbers
The Numbers is a website that focuses on providing detailed financial information and box office data for movies. It offers comprehensive information on box office earnings, budgets, production costs, and revenue generated by films worldwide.

### LOADING NECESSARY LIBRARIES

In [12]:
# importing the necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import csv
import os
import sqlite3
import matplotlib.pyplot as plt
%matplotlib inline

### LOADING AND PREVIEWING THE DATASETS

In [24]:
# reading and previewing the data files
bom_movie_gross_df = pd.read_csv(r"C:\\Users\\HP\\Desktop\\PHASE_1_PROJECT\\dsc-phase-1-project-v2-4\\zippedData\\bom.movie_gross.csv.gz")
bom_movie_gross_df.head(100)

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
95,Secretariat,BV,59700000.0,537000,2010
96,The Ghost Writer,Sum.,15500000.0,44700000,2010
97,Morning Glory,Par.,31000000.0,29000000,2010
98,Remember Me,Sum.,19100000.0,37000000,2010
99,Cop Out,WB,44900000.0,10700000,2010

In [8]:
tmdb_movies_df = pd.read_csv(r"C:\Users\HP\Desktop\PHASE_1_PROJECT\dsc-phase-1-project-v2-4\tmdb.movies.csv.gz")
tmdb_movies_df.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [10]:
tn_movie_budget_df = pd.read_csv(r"C:\Users\HP\Desktop\PHASE_1_PROJECT\dsc-phase-1-project-v2-4\tn.movie_budgets.csv.gz")
tn_movie_budget_df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [13]:
# Reading the database file
im = os.path.join(r"C:\Users\HP\Desktop\PHASE_1_PROJECT\dsc-phase-1-project-v2-4\im.db.zip")
conn = sqlite3.connect(im)
cursor = conn.cursor()

In [17]:
#reading the rotten tomatoes files
rt_movie_info_df = pd.read_csv(r"C:\Users\HP\Desktop\PHASE_1_PROJECT\dsc-phase-1-project-v2-4\rt.movie_info.tsv.gz", sep ='\t')
rt_movie_info_df.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [19]:
rt_reviews_df = pd.read_csv(r"C:\Users\HP\Desktop\PHASE_1_PROJECT\dsc-phase-1-project-v2-4\rt.reviews.tsv.gz", sep ='\t', encoding = 'unicode_escape')
rt_reviews_df.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

### CLEANING THE DATASETS

##### Now that we have our datasets loaded, we set out to explore and clean them ready for our analysis. This will involve checking for duplicates, Missing values indicated by 'NaN' and check for datatype compatibilities

In [20]:
#Exploring the dataset 
bom_movie_gross_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

We notice the dataset has five columns and  has missing values on 'studio', domestic_gross and foreign_gross columns

In [27]:
bom_movie_gross_df.isna().sum()

title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

In [29]:
print(bom_movie_gross_df['foreign_gross'].dtype)

object

Since the number of missing values on 'Studio' and domestic gross are relatively few, we opt to drop their corresponding rows.
However the foreign_gross column has high number of missing values and dropping them will lead to massive loss of data. Therefore we chose to fill the missing values with the average value for foreign_gross.
However, we notice the 'foreign_gross' column has datatype 'object'. Before calculating the mean for foreign gross we convert the data type to float

In [33]:

# Convert 'foreign_gross' column to numeric (float)
bom_movie_gross_df['foreign_gross'] = pd.to_numeric(bom_movie_gross_df['foreign_gross'], errors='coerce')

# Calculate the mean excluding NaN values
mean_foreign_gross = bom_movie_gross_df['foreign_gross'].mean(skipna=True)

# Fill missing values in 'foreign_gross' column with the calculated mean
bom_movie_gross_df['foreign_gross'].fillna(mean_foreign_gross, inplace=True)

In [35]:
# Drop rows with null values in 'studio' and 'domestic_gross' columns
bom_movie_gross_df.dropna(subset=['studio', 'domestic_gross'], inplace=True)
movie_gross_cleaned_df = bom_movie_gross_df
movie_gross_cleaned_df.isna().sum()

title             0
studio            0
domestic_gross    0
foreign_gross     0
year              0
dtype: int64

In [38]:
movie_gross_cleaned_df['year'] = pd.to_datetime(bom_movie_gross_df['year'], format='%Y')

In [39]:
movie_gross_cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3356 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3356 non-null   object
 1   studio          3356 non-null   object
 2   domestic_gross  3356 non-null   float64
 3   foreign_gross   3356 non-null   float64
 4   year            3356 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 157.3+ KB

Now our dataset 'bom_movie_gross_df' is clean and free from non null values. We have also fixed the 'year' column data type to collect date format. We do the same for the other datasets.

In [40]:
# We now set to investigate the 'tmdb_movies_df' dataset
tmdb_movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

In [57]:
# Convert 'release_date' column to datetime format
tmdb_movies_df['release_date'] = pd.to_datetime(tmdb_movies_df['release_date'])

# Print the DataFrame info to verify the changes
print(tmdb_movies_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   genre_ids          26517 non-null  object
 1   id                 26517 non-null  int64
 2   original_language  26517 non-null  object
 3   original_title     26517 non-null  object
 4   popularity         26517 non-null  float64
 5   release_date       26517 non-null  datetime64[ns]
 6   title              26517 non-null  object
 7   vote_average       26517 non-null  float64
 8   vote_count         26517 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 1.8+ MB
None

We find that all the columns in this dataset are free from NaN values. However we have one column that is unnamed and we notice that it is a duplicate index column. so we drop it from the data set

In [59]:
tmdb_movies_df.head()

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [60]:
#Investigating the 'tn_movie_budget_df' dataset
tn_movie_budget_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

This data set has no Null values but we need to convert the columns 'release date' to "date" type and 'production budget', 'domestic_gross', 'worldwide_gross' all to float data type inorder to be able to perform calculations on them

In [61]:
tn_movie_budget_df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [63]:

# Convert 'release_date' column to datetime format
tn_movie_budget_df['release_date'] = pd.to_datetime(tn_movie_budget_df['release_date'])

# Print the DataFrame info to verify the changes
print(tn_movie_budget_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   datetime64[ns]
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 271.2+ KB
None

In [64]:
# Remove dollar signs ($) and commas (,) from monetary columns and convert to float
monetary_columns = ['production_budget', 'domestic_gross', 'worldwide_gross']

for col in monetary_columns:
    tn_movie_budget_df[col] = tn_movie_budget_df[col].replace('[\$,]', '', regex=True).astype(float)

# Print the DataFrame info to verify the changes
print(tn_movie_budget_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   datetime64[ns]
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   float64
 4   domestic_gross     5782 non-null   float64
 5   worldwide_gross    5782 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 271.2+ KB
None

In [66]:
movie_budget_cleaned = tn_movie_budget_df

In [67]:
#Cleaning the 'rt_movie_info_df' Dataframe
rt_movie_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB

In [70]:
rt_movie_info_df.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [75]:
# cleaning the dataframe

# Convert date columns to datetime
date_columns = ['theater_date', 'dvd_date']
for col in date_columns:
    rt_movie_info_df[col] = pd.to_datetime(rt_movie_info_df[col], errors='coerce')

# Convert currency and box_office columns to numeric
monetary_columns = ['currency', 'box_office']
for col in monetary_columns:
    rt_movie_info_df[col] = pd.to_numeric(rt_movie_info_df[col].replace('[\$,]', '', regex=True), errors='coerce')

# Drop columns with a high percentage of missing values or irrelevant to analysis
#columns_to_drop = ['runtime', 'studio']
#rt_movie_info_df.drop(columns=columns_to_drop, inplace=True)

# Cleaning text data (removing unnecessary characters, handling NaNs)
rt_movie_info_df['synopsis'].fillna('', inplace=True)
rt_movie_info_df['synopsis'] = rt_movie_info_df['synopsis'].str.replace('\n', ' ').str.strip()

# Print DataFrame info after cleaning
print(rt_movie_info_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1560 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   datetime64[ns]
 7   dvd_date      1201 non-null   datetime64[ns]
 8   currency      0 non-null      float64
 9   box_office    340 non-null    float64
dtypes: datetime64[ns](2), float64(2), int64(1), object(5)
memory usage: 122.0+ KB
None

In [91]:
rt_movie_info_df.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,1971-10-09,2001-09-25,NaN,3.853472e+07
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,2012-08-17,2013-01-01,NaN,6.000000e+05
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,1996-09-13,2000-04-18,NaN,3.853472e+07
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,1994-12-09,1997-08-27,NaN,3.853472e+07
5,8,The year is 1942. As the Allies unite overseas...,PG,Drama|Kids and Family,Jay Russell,Gail Gilchriest,2000-03-03,2000-07-11,NaN,3.853472e+07

In [92]:
rt_movie_info_df.isna().sum()

id                 0
synopsis           0
rating             0
genre              0
director         118
writer           263
theater_date       0
dvd_date           0
currency        1201
box_office         0
dtype: int64

In [90]:
# Drop rows with missing values in a specific column ('theater_date' for example)
rt_movie_info_df = rt_movie_info_df.dropna(subset=['theater_date'])

# Impute missing values in numerical columns ('currency' and 'box_office') with mean
numerical_columns = ['currency', 'box_office']
for col in numerical_columns:
    rt_movie_info_df[col].fillna(rt_movie_info_df[col].mean(), inplace=True)rt_movie_info_df

# Print DataFrame info after cleaning
print(rt_movie_info_df.info())

SyntaxError: invalid syntax (3969618071.py, line 7)

In [93]:
movie_info_cleaned = rt_movie_info_df

In [94]:
movie_info_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1201 entries, 0 to 1559
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1201 non-null   int64
 1   synopsis      1201 non-null   object
 2   rating        1201 non-null   object
 3   genre         1201 non-null   object
 4   director      1083 non-null   object
 5   writer        938 non-null    object
 6   theater_date  1201 non-null   datetime64[ns]
 7   dvd_date      1201 non-null   datetime64[ns]
 8   currency      0 non-null      float64
 9   box_office    1201 non-null   float64
dtypes: datetime64[ns](2), float64(2), int64(1), object(5)
memory usage: 103.2+ KB